.navbar .bg-light {
    background-color: blue;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Comfortaa', cursive;

}

.col-4 {
    border-style: inset;
    border-color: black;
}

.col-8 {
    border-style: inset;
    border-color: black;
}

.col-2 {
    border-style: inset;
    border-color: black;
}

.col {
    border-style: inset;
    border-color: black;
}

#today {
    border-style: inset;
    border-color: black;
}