.navbar {
    background-color: blue;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    font-family:'Comfortaa', curesive;
    padding: 10px;
}

.col-4 {
    border-style: inset;
    border-color: black;
}

.col-8 {
    border-style: inset;
    border-color: black;
}